In [145]:
import pandas as pd
import numpy as np
import json

# 0 - Pre-processing

In [146]:
# Import of supplier file
SUPPLIER_DATA_PATH = "/Users/lolo/Développement/Python/onedot/data/supplier_car.json"
with open(SUPPLIER_DATA_PATH) as f:
    supplier_data_str = f.readlines()
supplier_data_json = [json.loads(x.strip()) for x in supplier_data_str]

In [147]:
# Load supplier data into a dataframe
supplier_data = pd.DataFrame(supplier_data_json)
supplier_data = supplier_data.sort_values(by="ID")
supplier_data.head()

,Attribute Names,Attribute Values,ID,MakeText,ModelText,ModelTypeText,TypeName,TypeNameFull,entity_id
20141,ConsumptionRatingText,null,1.0,MERCEDES-BENZ,E 320,E 320 Elégance 4-Matic,E 320 Elégance 4-Matic,MERCEDES-BENZ E 320 Elégance 4-Matic,afa1558b-2aa4-4c2b-a2aa-3d4019692c55
4577,ConditionTypeText,Occasion,1.0,MERCEDES-BENZ,E 320,E 320 Elégance 4-Matic,E 320 Elégance 4-Matic,MERCEDES-BENZ E 320 Elégance 4-Matic,5b6a7cc2-aeae-49cf-86c1-fba26fc716ea
4364,TransmissionTypeText,Automat,1.0,MERCEDES-BENZ,E 320,E 320 Elégance 4-Matic,E 320 Elégance 4-Matic,MERCEDES-BENZ E 320 Elégance 4-Matic,36daa856-57a4-4472-b6c5-c166238e6160
19538,Ccm,3199,1.0,MERCEDES-BENZ,E 320,E 320 Elégance 4-Matic,E 320 Elégance 4-Matic,MERCEDES-BENZ E 320 Elégance 4-Matic,441cb3e8-1472-48df-91ae-23c0d99c05bb
7573,BodyTypeText,Limousine,1.0,MERCEDES-BENZ,E 320,E 320 Elégance 4-Matic,E 320 Elégance 4-Matic,MERCEDES-BENZ E 320 Elégance 4-Matic,891fd11f-0bc6-4eec-b398-ba58d89488a9

In [148]:
# Set the values of column "Attribute Names" as different columns : one column per value 
supplier_data_as_table = supplier_data.pivot(index= "ID", columns="Attribute Names", values="Attribute Values").reset_index()

# Add general information
supplier_data_as_table = pd.merge(supplier_data_as_table, supplier_data[["ID", "MakeText", "ModelText", "ModelTypeText", "TypeName", "TypeNameFull"]].drop_duplicates(subset="ID"), on="ID", how="left")
supplier_data_as_table.head()

Attribute Names,ID,BodyColorText,BodyTypeText,Ccm,City,Co2EmissionText,ConditionTypeText,ConsumptionRatingText,ConsumptionTotalText,Doors,...,InteriorColorText,Km,Properties,Seats,TransmissionTypeText,MakeText,ModelText,ModelTypeText,TypeName,TypeNameFull
0,1.0,anthrazit,Limousine,3199,Zuzwil,275 g/km,Occasion,null,11.5 l/100km,4,...,grau,31900,"""Ab MFK""",5,Automat,MERCEDES-BENZ,E 320,E 320 Elégance 4-Matic,E 320 Elégance 4-Matic,MERCEDES-BENZ E 320 Elégance 4-Matic
1,10.0,anthrazit mét.,Coupé,3929,Zuzwil,null,Oldtimer,null,null,2,...,schwarz,48000,"""Ab MFK""",4,Schaltgetriebe,LAMBORGHINI,None,Espada GT 400 Serie 3,Espada GT 400 Serie 3,LAMBORGHINI Espada GT 400 Serie 3
2,100.0,blau mét.,Coupé,3586,Zuzwil,440 g/km,Occasion,G,19.3 l/100km,2,...,beige,42600,"""Ab MFK""",2,Automatisiertes Schaltgetriebe,FERRARI,F360,F360 Modena Berlinetta,F360 Modena Berlinetta,FERRARI F360 Modena Berlinetta
3,1000.0,silber mét.,Cabriolet,4691,Porrentruy,null,Occasion,null,null,2,...,schwarz,23900,"""Ab MFK""",0,Automatik-Getriebe,ALFA ROMEO,8C,8C,null,ALFA ROMEO 8C
4,1001.0,silber mét.,Limousine,1977,Zuzwil,null,Occasion,null,null,2,...,schwarz,97100,"""Ab MFK""",4,Schaltgetriebe,BMW,2002,2002 Turbo,Turbo,BMW 2002 Turbo

In [151]:
# Replace value "null" by the pandas null value : Nan
supplier_data_as_table.fillna(value=np.NaN, inplace=True)
supplier_data_as_table = supplier_data_as_table.replace("null", np.nan)
supplier_data_as_table.head()

Attribute Names,ID,BodyColorText,BodyTypeText,Ccm,City,Co2EmissionText,ConditionTypeText,ConsumptionRatingText,ConsumptionTotalText,Doors,...,InteriorColorText,Km,Properties,Seats,TransmissionTypeText,MakeText,ModelText,ModelTypeText,TypeName,TypeNameFull
0,1.0,anthrazit,Limousine,3199,Zuzwil,275 g/km,Occasion,NaN,11.5 l/100km,4,...,grau,31900,"""Ab MFK""",5,Automat,MERCEDES-BENZ,E 320,E 320 Elégance 4-Matic,E 320 Elégance 4-Matic,MERCEDES-BENZ E 320 Elégance 4-Matic
1,10.0,anthrazit mét.,Coupé,3929,Zuzwil,NaN,Oldtimer,NaN,NaN,2,...,schwarz,48000,"""Ab MFK""",4,Schaltgetriebe,LAMBORGHINI,NaN,Espada GT 400 Serie 3,Espada GT 400 Serie 3,LAMBORGHINI Espada GT 400 Serie 3
2,100.0,blau mét.,Coupé,3586,Zuzwil,440 g/km,Occasion,G,19.3 l/100km,2,...,beige,42600,"""Ab MFK""",2,Automatisiertes Schaltgetriebe,FERRARI,F360,F360 Modena Berlinetta,F360 Modena Berlinetta,FERRARI F360 Modena Berlinetta
3,1000.0,silber mét.,Cabriolet,4691,Porrentruy,NaN,Occasion,NaN,NaN,2,...,schwarz,23900,"""Ab MFK""",0,Automatik-Getriebe,ALFA ROMEO,8C,8C,NaN,ALFA ROMEO 8C
4,1001.0,silber mét.,Limousine,1977,Zuzwil,NaN,Occasion,NaN,NaN,2,...,schwarz,97100,"""Ab MFK""",4,Schaltgetriebe,BMW,2002,2002 Turbo,Turbo,BMW 2002 Turbo

# 1 - Data normalization 

##  Value analysis

In [152]:
supplier_data_as_table.describe()

Attribute Names,ID,BodyColorText,BodyTypeText,Ccm,City,Co2EmissionText,ConditionTypeText,ConsumptionRatingText,ConsumptionTotalText,Doors,...,InteriorColorText,Km,Properties,Seats,TransmissionTypeText,MakeText,ModelText,ModelTypeText,TypeName,TypeNameFull
count,1153,1153,1152,1153,1153,812,1153,652,850,1153,...,1084,1153,1072,1153,1137,1153,1103,1153,1137,1153
unique,1153,29,10,273,6,194,4,5,130,5,...,12,727,6,8,8,70,290,596,577,596
top,426.0,schwarz mét.,Coupé,3600,Zuzwil,350 g/km,Occasion,G,12.9 l/100km,2,...,schwarz,5000,"""Ab MFK""",5,Automat,MERCEDES-BENZ,911,RS6 Avant quattro,RS6 Avant quattro,AUDI RS6 Avant quattro
freq,1,232,369,52,1118,36,1098,637,38,607,...,588,7,993,480,307,295,95,31,31,31

In [153]:
for col in supplier_data_as_table.columns:
    if col != "ID":
        print("#######################################################")
        print("Different values and count for column : {}".format(col))
        print("Number of unique values : {}".format(len(supplier_data_as_table[col].unique())))
        print(supplier_data_as_table[col].value_counts())

#######################################################
Different values and count for column : BodyColorText
Number of unique values : 29
schwarz mét.      232
silber mét.       208
blau mét.         110
grau mét.         102
schwarz            94
weiss              63
rot                60
grün mét.          48
blau               41
anthrazit mét.     33
grau               30
silber             28
gelb               19
grün               17
weiss mét.         14
bordeaux mét.      12
rot mét.            8
violett mét.        6
anthrazit           5
gold mét.           4
bordeaux            4
beige mét.          4
orange              3
braun mét.          2
orange mét.         2
beige               1
gold                1
gelb mét.           1
braun               1
Name: BodyColorText, dtype: int64
#######################################################
Different values and count for column : BodyTypeText
Number of unique values : 11
Coupé                   369
Limousine               325
Cabriolet               248
Kombi                    98
SUV / Geländewagen       89
Kleinwagen               13
Kompaktvan / Minivan      5
Pick-up                   3
Sattelschlepper           1
Wohnkabine                1
Name: BodyTypeText, dtype: int64
#######################################################
Different values and count for column : Ccm
Number of unique values : 273
3600    52
4172    51
5439    50
4966    38
4244    26
4398    26
4991    25
5998    21
3199    19
5513    19
4511    18
5461    18
6209    18
5981    17
4971    16
4999    15
3586    15
5748    14
4806    14
3387    13
3996    13
4163    12
5984    12
4973    12
5204    12
6761    11
0       11
3246    10
5474    10
5707    10
        ..
2962     1
5216     1
3960     1
1968     1
2225     1
1490     1
5338     1
2996     1
2491     1
4367     1
1299     1
5343     1
5403     1
3459     1
1589     1
3428     1
602      1
3653     1
3222     1
4617     1
4300     1
1588     1
2987     1
4951     1
740      1
1992     1
3530     1
2849     1
2100     1
4520     1
Name: Ccm, dtype: int64
#######################################################
Different values and count for column : City
Number of unique values : 6
Zuzwil        1118
Porrentruy      14
Sursee          11
Safenwil         5
Basel            3
St. Gallen       2
Name: City, dtype: int64
#######################################################
Different values and count for column : Co2EmissionText
Number of unique values : 195
350 g/km    36
333 g/km    30
309 g/km    29
355 g/km    18
378 g/km    16
340 g/km    16
288 g/km    16
400 g/km    15
440 g/km    14
357 g/km    13
370 g/km    13
346 g/km    13
328 g/km    13
304 g/km    11
295 g/km    11
495 g/km    11
326 g/km    11
320 g/km    11
310 g/km     9
324 g/km     9
358 g/km     9
276 g/km     9
299 g/km     9
270 g/km     9
374 g/km     8
499 g/km     8
317 g/km     8
335 g/km     8
290 g/km     8
232 g/km     7
            ..
263 g/km     1
211 g/km     1
490 g/km     1
152 g/km     1
245 g/km     1
264 g/km     1
271 g/km     1
443 g/km     1
186 g/km     1
138 g/km     1
289 g/km     1
360 g/km     1
146 g/km     1
250 g/km     1
311 g/km     1
180 g/km     1
194 g/km     1
192 g/km     1
179 g/km     1
312 g/km     1
483 g/km     1
187 g/km     1
173 g/km     1
208 g/km     1
257 g/km     1
220 g/km     1
376 g/km     1
267 g/km     1
196 g/km     1
261 g/km     1
Name: Co2EmissionText, dtype: int64
#######################################################
Different values and count for column : ConditionTypeText
Number of unique values : 4
Occasion         1098
Oldtimer           29
Neu                17
Vorführmodell       9
Name: ConditionTypeText, dtype: int64
#######################################################
Different values and count for column : ConsumptionRatingText
Number of unique values : 6
G    637
F      6
D      4
E      3
C      2
Name: ConsumptionRatingText, dtype: int64
#######################################################
Different values and count for column : ConsumptionTotalText
Number of unique values : 131
12.9 l/100km    38
14.6 l/100km    34
14.0 l/100km    26
13.9 l/100km    26
12.0 l/100km    23
15.7 l/100km    23
14.8 l/100km    22
14.9 l/100km    21
14.2 l/100km    21
13.5 l/100km    20
13.4 l/100km    18
12.5 l/100km    18
11.5 l/100km    17
14.3 l/100km    17
12.1 l/100km    16
9.9 l/100km     15
12.6 l/100km    14
12.7 l/100km    13
14.4 l/100km    13
15.8 l/100km    13
11.8 l/100km    12
17.5 l/100km    12
19.3 l/100km    12
13.6 l/100km    12
12.3 l/100km    11
9.7 l/100km     11
11.9 l/100km     9
13.2 l/100km     8
20.8 l/100km     8
21.8 l/100km     8
                ..
8.2 l/100km      2
18.6 l/100km     2
17.8 l/100km     2
15.3 l/100km     2
17.7 l/100km     2
8.4 l/100km      2
8.7 l/100km      1
6.5 l/100km      1
5.4 l/100km      1
19.0 l/100km     1
22.9 l/100km     1
19.1 l/100km     1
18.8 l/100km     1
6.7 l/100km      1
6.4 l/100km      1
5.3 l/100km      1
19.7 l/100km     1
5.1 l/100km      1
11.0 l/100km     1
7.2 l/100km      1
7.6 l/100km      1
8.8 l/100km      1
7.5 l/100km      1
5.8 l/100km      1
18.9 l/100km     1
19.5 l/100km     1
15.5 l/100km     1
20.5 l/100km     1
6.9 l/100km      1
7.3 l/100km      1
Name: ConsumptionTotalText, dtype: int64
#######################################################
Different values and count for column : Doors
Number of unique values : 5
2    607
4    276
5    202
3     47
0     21
Name: Doors, dtype: int64
#######################################################
Different values and count for column : DriveTypeText
Number of unique values : 4
Hinterradantrieb    720
Allrad              344
Vorderradantrieb     54
Name: DriveTypeText, dtype: int64
#######################################################
Different values and count for column : FirstRegMonth
Number of unique values : 13
3     142
1     138
4     122
7     115
6     114
5     111
2      87
9      72
8      69
11     68
10     66
12     46
0       3
Name: FirstRegMonth, dtype: int64
#######################################################
Different values and count for column : FirstRegYear
Number of unique values : 60
2002    94
2003    90
2008    66
2000    61
2004    60
2007    59
2006    57
2001    57
1999    48
1998    48
2005    48
1996    38
1997    35
2009    33
2010    29
2012    27
2011    24
1995    23
1993    15
2013    14
1992    13
1982    12
1974    12
1990    12
1994    12
1981    11
1984    10
1983     9
1972     9
2014     9
1991     8
1971     8
1978     8
1977     7
1973     7
1979     7
2015     7
1980     6
1986     6
1985     6
1976     6
1969     5
1989     5
1987     4
1970     4
1968     3
1960     3
1988     3
1966     2
1967     2
1957     2
1955     1
1959     1
1939     1
1961     1
2016     1
1927     1
1975     1
1930     1
1956     1
Name: FirstRegYear, dtype: int64
#######################################################
Different values and count for column : FuelTypeText
Number of unique values : 5
Benzin            1104
Diesel              29
Benzin/Elektro       1
Bioethanol           1
Name: FuelTypeText, dtype: int64
#######################################################
Different values and count for column : Hp
Number of unique values : 218
450    50
500    40
400    38
420    38
306    37
0      34
320    32
300    30
580    29
560    24
286    23
150    22
517    18
380    17
612    17
170    17
394    15
525    15
390    15
231    15
200    14
360    14
354    13
476    13
193    12
347    12
224    11
272    11
507    10
442     9
       ..
351     1
425     1
57      1
325     1
489     1
47      1
518     1
256     1
61      1
40      1
156     1
635     1
169     1
49      1
132     1
611     1
353     1
174     1
389     1
426     1
295     1
571     1
118     1
352     1
258     1
305     1
660     1
550     1
33      1
38      1
Name: Hp, dtype: int64
#######################################################
Different values and count for column : InteriorColorText
Number of unique values : 13
schwarz       588
beige         145
grau          113
mehrfarbig     67
anthrazit      49
braun          43
blau           37
rot            23
grün            6
weiss           6
bordeaux        6
silber          1
Name: InteriorColorText, dtype: int64
#######################################################
Different values and count for column : Km
Number of unique values : 727
5000      7
29000     7
100       7
45000     7
34000     6
29800     6
1         6
49900     6
38000     5
42000     5
28000     5
36000     5
41000     5
15000     5
37000     5
51000     5
62000     5
46000     5
43000     5
20000     5
26800     5
34500     5
16000     5
33000     5
500       5
35000     4
47500     4
9999      4
48300     4
32500     4
         ..
150200    1
89700     1
58950     1
111900    1
584       1
67800     1
69500     1
69100     1
124800    1
39300     1
56100     1
22500     1
1500      1
76200     1
6900      1
83900     1
128600    1
107100    1
53000     1
108200    1
97200     1
9400      1
44200     1
69000     1
20100     1
99000     1
41800     1
49200     1
40500     1
39400     1
Name: Km, dtype: int64
#######################################################
Different values and count for column : Properties
Number of unique values : 7
"Ab MFK"                              993
"Ab MFK", "Tuning"                     39
"Ab MFK", "Direkt-/Parallelimport"     28
"Rennwagen"                             6
"Direkt-/Parallelimport"                3
"Tuning"                                3
Name: Properties, dtype: int64
#######################################################
Different values and count for column : Seats
Number of unique values : 8
5    480
2    326
4    298
0     38
3      4
7      3
6      2
1      2
Name: Seats, dtype: int64
#######################################################
Different values and count for column : TransmissionTypeText
Number of unique values : 9
Automat                           307
Schaltgetriebe manuell            247
Automat sequentiell               205
Automatik-Getriebe                137
Automatisiertes Schaltgetriebe    126
Schaltgetriebe                    112
Automat stufenlos                   2
Automat stufenlos, sequentiell      1
Name: TransmissionTypeText, dtype: int64
#######################################################
Different values and count for column : MakeText
Number of unique values : 70
MERCEDES-BENZ      295
PORSCHE            137
BMW                126
AUDI               118
FERRARI             68
RENAULT             47
LAMBORGHINI         38
BENTLEY             35
MASERATI            32
VW                  19
LAND ROVER          17
JAGUAR              16
ASTON MARTIN        15
TOYOTA              14
CHEVROLET           12
ROLLS-ROYCE         11
BMW-ALPINA          11
ALFA ROMEO          10
FORD                 8
LOTUS                7
FIAT                 7
NISSAN               6
LANCIA               6
McLAREN              6
OPEL                 5
TRIUMPH              4
MG                   4
SAAB                 4
FORD (USA)           4
VOLVO                4
                  ...
DATSUN               2
PEUGEOT              2
SEAT                 2
HUMMER               2
AUSTIN-HEALEY        2
DAIMLER              2
BUGATTI              2
TALBOT               2
DeLorean             1
DE TOMASO            1
SIMCA                1
MATRA                1
DAIHATSU             1
MARCOS               1
AUTOBIANCHI          1
DAEWOO               1
GIOTTILINE           1
HYUNDAI              1
AGM                  1
WIESMANN             1
SUBARU               1
LEXUS                1
PGO                  1
MINI                 1
MORGAN               1
YES!                 1
KAISER               1
TRABANT              1
HARLEY-DAVIDSON      1
SMART                1
Name: MakeText, dtype: int64
#######################################################
Different values and count for column : ModelText
Number of unique values : 291
911             95
RS6             58
SL 500          33
CAYENNE         27
SL 600          21
ALPINE          18
SL 55 AMG       18
A8              17
M5              16
F360            15
CONTINENTAL     15
X5              14
Alpine A110     14
S 500           14
ARNAGE          13
QUATTROPORTE    13
CL 600          12
M3              12
RANGE ROVER     12
RS4             11
DIABLO          11
GALLARDO        10
CORVETTE        10
S 65 AMG        10
MURCIÉLAGO      10
F355             9
CL 500           9
E 55 AMG         9
PHAETON          9
456              9
                ..
600-SERIES       1
C 240            1
Virage           1
ML 350           1
MGC              1
E 230            1
E                1
GT               1
TR3              1
406              1
2CV              1
SL 350           1
A112             1
ALFASUD          1
C 320            1
545              1
X1               1
200 SX           1
V8               1
365              1
EB               1
S-CLASS          1
COUPÉ            1
645              1
C70              1
C 43 AMG         1
CORTINA          1
G 63 AMG         1
A 150            1
760              1
Name: ModelText, dtype: int64
#######################################################
Different values and count for column : ModelTypeText
Number of unique values : 596
RS6 Avant quattro            31
911 Turbo                    30
SL 500                       30
RS6 Avant 5.0 V10 quattro    23
SL 600                       21
SL 55 AMG                    18
Cayenne Turbo                18
M5                           16
A8 4.2 quattro               15
CL 600                       12
M3                           10
E 55 AMG Avantgarde           9
Alpine A310 V6                9
F360 Modena Berlinetta        9
X5 4.4i                       9
S 500                         8
575M                          8
Coupé GT                      8
S 65 AMG L                    8
M6                            8
Range Rover 4.6 HSE           7
911 GT2                       7
CL 500                        7
Quattroporte 4.2              7
CLS 500                       7
Phaeton 6.0 W12 4Motion       6
911 Carrera Cabrio            6
F355 Berlinetta               6
911 Carrera                   6
SL 320                        6
                             ..
Cabriolet 2.8 E               1
A6 2.8 Ambiente               1
C70 T5                        1
S-Type 4.2 V8 S/C R           1
S4 Avant quattro              1
DAUPHINE GORDINI              1
S 55 L AMG                    1
R8 GT Spyder 5.2              1
Eos 2.0 FSI T                 1
DB7 Vantage Volante           1
CORVETTE C1                   1
SLR McLaren Coupé             1
Mustang                       1
740iL                         1
Continental R Coupé           1
ARNAGE Red Label              1
SL 350                        1
323 i E21                     1
550i Touring                  1
ML 350 Inspiration            1
CLIO Rennwagen                1
131 Racing / Sport            1
Coupé 2.7 24V FX              1
Z4 M Coupé                    1
XJ 220                        1
Clio 3.0 Sport V6             1
124 Spider CSA Abarth         1
Z1                            1
A4 3.0 V6                     1
Golf R32 4Motion              1
Name: ModelTypeText, dtype: int64
#######################################################
Different values and count for column : TypeName
Number of unique values : 578
RS6 Avant quattro            31
SL 500                       30
911 Turbo                    29
RS6 Avant 5.0 V10 quattro    23
SL 600                       21
Cayenne Turbo                18
SL 55 AMG                    18
M5                           16
A8 4.2 quattro               15
CL 600                       12
M3                           10
Turbo                         9
Alpine A310 V6                9
X5 4.4i                       9
E 55 AMG Avantgarde           9
F360 Modena Berlinetta        9
S 500                         8
Coupé GT                      8
575M                          8
M6                            8
S 65 AMG L                    8
Range Rover 4.6 HSE           7
Quattroporte 4.2              7
911 GT2                       7
CL 500                        7
CLS 500                       7
SL 320                        6
911 Carrera Cabrio            6
Phaeton 6.0 W12 4Motion       6
F355 Berlinetta               6
                             ..
BJ 40 LT                      1
320d Touring                  1
A8  6.0 quattro               1
323 i E21                     1
Convertible                   1
ML 350 Inspiration            1
911 Targa                     1
Coupé 2.7 24V FX              1
320d xDrive M-Sportpaket      1
Z4 M Coupé                    1
5.0 GT Premium 50 Years       1
Clio 3.0 Sport V6             1
A4 3.0 V6                     1
A6 2.8 Ambiente               1
quattro Turbo 20V             1
2000GT                        1
E 350 Elégance 4Matic         1
McLaren Coupé                 1
C 230 Elégance                1
C 320 Elégance                1
246 GTS                       1
CTR 2 Sport                   1
E 63 AMG CGI                  1
760i L                        1
CLK DTM AMG Cabriolet         1
Range Rover 4.4TD Vogue       1
2500HD 6.6l V8                1
EVO V                         1
458 Italia 4.5 V8             1
Golf R32 4Motion              1
Name: TypeName, dtype: int64
#######################################################
Different values and count for column : TypeNameFull
Number of unique values : 596
AUDI RS6 Avant quattro                  31
PORSCHE 911 Turbo                       30
MERCEDES-BENZ SL 500                    30
AUDI RS6 Avant 5.0 V10 quattro          23
MERCEDES-BENZ SL 600                    21
MERCEDES-BENZ SL 55 AMG                 18
PORSCHE Cayenne Turbo                   18
BMW M5                                  16
AUDI A8 4.2 quattro                     15
MERCEDES-BENZ CL 600                    12
BMW M3                                  10
FERRARI F360 Modena Berlinetta           9
BMW X5 4.4i                              9
RENAULT Alpine A310 V6                   9
MERCEDES-BENZ E 55 AMG Avantgarde        9
MERCEDES-BENZ S 65 AMG L                 8
MERCEDES-BENZ S 500                      8
BMW M6                                   8
MASERATI Coupé GT                        8
FERRARI 575M                             8
LAND ROVER Range Rover 4.6 HSE           7
MASERATI Quattroporte 4.2                7
MERCEDES-BENZ CL 500                     7
MERCEDES-BENZ CLS 500                    7
PORSCHE 911 GT2                          7
BMW 740i                                 6
PORSCHE 911 Carrera Cabrio               6
FERRARI F355 Berlinetta                  6
VW Phaeton 6.0 W12 4Motion               6
MERCEDES-BENZ SL 320                     6
                                        ..
ASTON MARTIN DBS Volante                 1
FORD (USA) Mustang                       1
MERCEDES-BENZ E 63 AMG S 4Matic          1
TOYOTA CARINA Deluxe                     1
AUDI A6 Avant 2.7 T q.Ambiente           1
BMW 525xi                                1
DODGE VIPER                              1
LAND ROVER Range Rover 3.6 d HSE         1
VW Touareg R50 V10                       1
FERRARI F360 Challenge stradale          1
RENAULT R5 Alpine                        1
MERCEDES-BENZ S 500 L 4Matic             1
PORSCHE 911 Turbo S                      1
SEAT Leon 2.0 TSI FR                     1
MERCEDES-BENZ S 400 CDI                  1
PORSCHE 911 SC 3.0                       1
MERCEDES-BENZ E 63 AMG Avantgarde        1
BMW-ALPINA B3 3.2 Coupé S.Tronic         1
PORSCHE 911 Carrera 4 Cabrio TECHART     1
PORSCHE 911 Turbo S Cabrio PDK           1
TRIUMPH Spitfire MK IV                   1
ASTON MARTIN DB7                         1
BMW 523i Touring                         1
FIAT 850 Spider                          1
HUMMER H3 3.7 Adventure                  1

## Analysis and Processing column by column

### MakeText & ModelText & TypeName & TypeNameFull

They all look OK, nothing to normalize, the only thing is that the case is sometimes lower and sometimes upper

### BodyColorText

In [154]:
list_colors = supplier_data_as_table["BodyColorText"].unique()
list_colors.sort()
print(list_colors)

['anthrazit' 'anthrazit mét.' 'beige' 'beige mét.' 'blau' 'blau mét.'
 'bordeaux' 'bordeaux mét.' 'braun' 'braun mét.' 'gelb' 'gelb mét.' 'gold'
 'gold mét.' 'grau' 'grau mét.' 'grün' 'grün mét.' 'orange' 'orange mét.'
 'rot' 'rot mét.' 'schwarz' 'schwarz mét.' 'silber' 'silber mét.'
 'violett mét.' 'weiss' 'weiss mét.']

Colors look OK, nothing to normalize, maybe in a further process we could fusion the "mét." colors with their corresponding ones (eg. "beige mét." could become "beige")

### BodyTypeText

Nothing to normalize

### City

Nothing to normalize

### Co2EmissionText
We check if different units are used and if the values seem coherent

In [155]:
# We add in the dataframe 2 columns : one with the unit of consumption and one with its value
supplier_data_as_table["Co2EmissionValue"] = np.NaN
supplier_data_as_table.loc[supplier_data_as_table["Co2EmissionText"].notnull(), "Co2EmissionValue"] = supplier_data_as_table[supplier_data_as_table["Co2EmissionText"].notnull()].apply(axis=1, func= lambda x: float(x["Co2EmissionText"].split(" ")[0]))

supplier_data_as_table["Co2EmissionUnit"] = np.NaN
supplier_data_as_table.loc[supplier_data_as_table["Co2EmissionText"].notnull(), "Co2EmissionUnit"] = supplier_data_as_table[supplier_data_as_table["Co2EmissionText"].notnull()].apply(axis=1, func= lambda x: x["Co2EmissionText"].split(" ")[1])

In [156]:
# We check how many units are used
supplier_data_as_table["Co2EmissionUnit"].unique()

array(['g/km', nan], dtype=object)

Only the unit 'g/km' is used

In [157]:
min_co2 = supplier_data_as_table["Co2EmissionValue"].min()
max_co2 = supplier_data_as_table["Co2EmissionValue"].max()
print("The ConsumptionTotal column is between {} and {}".format(min_co2, max_co2))

The ConsumptionTotal column is between 127.0 and 575.0

Everything looks OK, nothing to normalize

### ConditionTypeText
Nothing to normalize

### ConsumptionRatingText
Nothing to normalize

### ConsumptionTotalText
We check if different units are used and if the values seem coherent

In [158]:
# We add in the dataframe 2 columns : one with the unit of consumption and one with its value
supplier_data_as_table["ConsumptionValue"] = np.NaN
supplier_data_as_table.loc[supplier_data_as_table["ConsumptionTotalText"].notnull(), "ConsumptionValue"] = supplier_data_as_table[supplier_data_as_table["ConsumptionTotalText"].notnull()].apply(axis=1, func= lambda x: float(x["ConsumptionTotalText"].split(" ")[0]))

supplier_data_as_table["ConsumptionUnit"] = np.NaN
supplier_data_as_table.loc[supplier_data_as_table["ConsumptionTotalText"].notnull(), "ConsumptionUnit"] = supplier_data_as_table[supplier_data_as_table["ConsumptionTotalText"].notnull()].apply(axis=1, func= lambda x: x["ConsumptionTotalText"].split(" ")[1])

In [159]:
# We check how many units are used
supplier_data_as_table["ConsumptionUnit"].unique()

array(['l/100km', nan], dtype=object)

Only the unit 'l/100km' is used

In [160]:
min_cons = supplier_data_as_table["ConsumptionValue"].min()
max_cons = supplier_data_as_table["ConsumptionValue"].max()
print("The ConsumptionTotal column is between {} and {}".format(min_cons, max_cons))

The ConsumptionTotal column is between 5.1 and 24.9

Everything looks OK, nothing to normalize

### Doors
Let find out what are the cars with 0 door

In [161]:
supplier_data_as_table[supplier_data_as_table["Doors"] == '0'].head()

Attribute Names,ID,BodyColorText,BodyTypeText,Ccm,City,Co2EmissionText,ConditionTypeText,ConsumptionRatingText,ConsumptionTotalText,Doors,...,TransmissionTypeText,MakeText,ModelText,ModelTypeText,TypeName,TypeNameFull,Co2EmissionValue,Co2EmissionUnit,ConsumptionValue,ConsumptionUnit
117,1103.0,weiss,Limousine,5752,Zuzwil,NaN,Occasion,NaN,NaN,0,...,Schaltgetriebe,DE TOMASO,PANTERA,PANTERA,NaN,DE TOMASO PANTERA,NaN,NaN,NaN,NaN
125,1110.0,weiss,Pick-up,0,Zuzwil,NaN,Occasion,NaN,NaN,0,...,Automatik-Getriebe,CHEVROLET,Silverado,Silverado 2500HD 6.6l V8,2500HD 6.6l V8,CHEVROLET Silverado 2500HD 6.6l V8,NaN,NaN,NaN,NaN
149,1132.0,weiss,Coupé,3497,Zuzwil,NaN,Occasion,NaN,NaN,0,...,Schaltgetriebe,JAGUAR,XJ 220,XJ 220,NaN,JAGUAR XJ 220,NaN,NaN,NaN,NaN
160,1142.0,weiss mét.,Cabriolet,3499,Zuzwil,NaN,Occasion,NaN,NaN,0,...,Schaltgetriebe,AGM,NaN,WLR,WLR,AGM WLR,NaN,NaN,NaN,NaN
237,174.0,blau mét.,Limousine,1647,Zuzwil,NaN,Oldtimer,NaN,NaN,0,...,Schaltgetriebe,RENAULT,ALPINE,ALPINE A310 1600 VG,A310 1600 VG,RENAULT ALPINE A310 1600 VG,NaN,NaN,NaN,NaN

It seems that the 0 value means that we don't know how many doors are in these cars.
Also it is preferable to replace the 0 by NaN

In [162]:
supplier_data_as_table.loc[supplier_data_as_table["Doors"] == '0', "Doors"] = np.NaN

### DriveTypeText
Nothing to normalize

### FirstRegMonth
Like the doors it seem better to replace the values 0 by NaN

In [163]:
supplier_data_as_table.loc[supplier_data_as_table["FirstRegMonth"] == '0', "FirstRegMonth"] = np.NaN

### FirstRegYear
We check that the years are within a realistic range

In [164]:
supplier_data_as_table["FirstRegYear"] = supplier_data_as_table["FirstRegYear"].astype(int)
min_year = supplier_data_as_table["FirstRegYear"].min()
max_year = supplier_data_as_table["FirstRegYear"].max()
print("The FirstRegYear column is between {} and {}".format(min_year, max_year))

The FirstRegYear column is between 1927 and 2016

All the years seem correct, nothing to normalize

### FuelTypeText
Nothing to normalize

### HP
Like the doors it seem better to replace the values 0 by NaN

In [165]:
supplier_data_as_table.loc[supplier_data_as_table["Hp"] == '0', "Hp"] = np.NaN

In [166]:
supplier_data_as_table["Hp"] = supplier_data_as_table["Hp"].astype(float)
min_hp = supplier_data_as_table["Hp"].min()
max_hp = supplier_data_as_table["Hp"].max()
print("The HP column is between {} and {}".format(min_hp, max_hp))

The HP column is between 29.0 and 1001.0

The range of HP seem reasonable

### InteriorColorText
Nothing to normalize

### Km
We check that the kilometers are within a reasonable range

In [167]:
supplier_data_as_table["Km"] = supplier_data_as_table["Km"].astype(int)
min_km = supplier_data_as_table["Km"].min()
max_km = supplier_data_as_table["Km"].max()
print("The Km column is between {} and {}".format(min_km, max_km))

The Km column is between 1 and 316200

### Properties
Nothing to normalize

### Seats
Like the doors it seem better to replace the values 0 by NaN

In [168]:
supplier_data_as_table.loc[supplier_data_as_table["Seats"] == '0', "Seats"] = np.NaN

### TransmissionTypeText
Here we could normalize this attribute, because some different values mean the same (eg "Automat" and "Automatik-Getriebe").

Only 4 values seem necessary : Automat, Schaltgetriebe, Automat sequentiell and Automstufenlos.

Below a dictionary defining the new values :

In [169]:
transmission_aggregation = {
    'Automat': 'Automat',
    'Schaltgetriebe': 'Schaltgetriebe',
    'Schaltgetriebe manuell': 'Schaltgetriebe',
    'Automat sequentiell': 'Automat sequentiell',
    'Automatik-Getriebe': 'Automat',
    'Automatisiertes Schaltgetriebe': 'Automat',
    'Automat stufenlos': 'Automat stufenlos',
    'Automat stufenlos, sequentiell': 'Automat stufenlos',
     np.NaN: np.NaN}

In [170]:
# Create a new column with the normalized values of the column TransmissionTypeText
supplier_data_as_table["NewTransmissionTypeText"] = supplier_data_as_table.apply(axis=1, func=lambda x: transmission_aggregation[x["TransmissionTypeText"]])
supplier_data_as_table.head(30)

Attribute Names,ID,BodyColorText,BodyTypeText,Ccm,City,Co2EmissionText,ConditionTypeText,ConsumptionRatingText,ConsumptionTotalText,Doors,...,MakeText,ModelText,ModelTypeText,TypeName,TypeNameFull,Co2EmissionValue,Co2EmissionUnit,ConsumptionValue,ConsumptionUnit,NewTransmissionTypeText
0,1.0,anthrazit,Limousine,3199,Zuzwil,275 g/km,Occasion,NaN,11.5 l/100km,4,...,MERCEDES-BENZ,E 320,E 320 Elégance 4-Matic,E 320 Elégance 4-Matic,MERCEDES-BENZ E 320 Elégance 4-Matic,275.0,g/km,11.5,l/100km,Automat
1,10.0,anthrazit mét.,Coupé,3929,Zuzwil,NaN,Oldtimer,NaN,NaN,2,...,LAMBORGHINI,NaN,Espada GT 400 Serie 3,Espada GT 400 Serie 3,LAMBORGHINI Espada GT 400 Serie 3,NaN,NaN,NaN,NaN,Schaltgetriebe
2,100.0,blau mét.,Coupé,3586,Zuzwil,440 g/km,Occasion,G,19.3 l/100km,2,...,FERRARI,F360,F360 Modena Berlinetta,F360 Modena Berlinetta,FERRARI F360 Modena Berlinetta,440.0,g/km,19.3,l/100km,Automat
3,1000.0,silber mét.,Cabriolet,4691,Porrentruy,NaN,Occasion,NaN,NaN,2,...,ALFA ROMEO,8C,8C,NaN,ALFA ROMEO 8C,NaN,NaN,NaN,NaN,Automat
4,1001.0,silber mét.,Limousine,1977,Zuzwil,NaN,Occasion,NaN,NaN,2,...,BMW,2002,2002 Turbo,Turbo,BMW 2002 Turbo,NaN,NaN,NaN,NaN,Schaltgetriebe
5,1002.0,silber mét.,Cabriolet,2000,Zuzwil,NaN,Occasion,NaN,NaN,2,...,DATSUN,NaN,SPORTS 2000,SPORTS 2000,DATSUN SPORTS 2000,NaN,NaN,NaN,NaN,NaN
6,1003.0,silber mét.,Limousine,4172,Zuzwil,322 g/km,Occasion,NaN,13.5 l/100km,4,...,AUDI,A8,A8 4.2 quattro,A8 4.2 quattro,AUDI A8 4.2 quattro,322.0,g/km,13.5,l/100km,Automat
7,1004.0,silber mét.,Coupé,4961,Zuzwil,400 g/km,Occasion,G,17.0 l/100km,2,...,LAMBORGHINI,GALLARDO,Gallardo 5.0 V10 Coupé SE,Gallardo 5.0 V10 Coupé SE,LAMBORGHINI Gallardo 5.0 V10 Coupé SE,400.0,g/km,17.0,l/100km,Automat
8,1005.0,silber mét.,Cabriolet,3499,Sursee,NaN,Occasion,NaN,NaN,2,...,MERCEDES-BENZ,280,280 3.5 V8 Cabrio,3.5 V8 Cabrio,MERCEDES-BENZ 280 3.5 V8 Cabrio,NaN,NaN,NaN,NaN,NaN
9,1006.0,silber mét.,Cabriolet,3199,Zuzwil,297 g/km,Occasion,NaN,12.5 l/100km,2,...,MERCEDES-BENZ,SL 320,SL 320,SL 320,MERCEDES-BENZ SL 320,297.0,g/km,12.5,l/100km,Automat
10,1007.0,silber mét.,SUV / Geländewagen,4511,Zuzwil,378 g/km,Occasion,G,15.7 l/100km,5,...,PORSCHE,CAYENNE,Cayenne Turbo,Cayenne Turbo,PORSCHE Cayenne Turbo,378.0,g/km,15.7,l/100km,Automat
11,1008.0,silber mét.,Limousine,4398,Zuzwil,276 g/km,Occasion,G,11.4 l/100km,4,...,BMW,745,745i,745i,BMW 745i,276.0,g/km,11.4,l/100km,Automat sequentiell
12,1009.0,silber mét.,Coupé,3598,Zuzwil,NaN,Occasion,NaN,NaN,2,...,PORSCHE,911,911 Carrera 2 RS,911 Carrera 2 RS,PORSCHE 911 Carrera 2 RS,NaN,NaN,NaN,NaN,Schaltgetriebe
13,101.0,blau mét.,Cabriolet,3387,Zuzwil,304 g/km,Occasion,NaN,12.0 l/100km,2,...,PORSCHE,911,911 Carrera 4 Cabrio TECHART,911 Carrera 4 Cabrio TECHART,PORSCHE 911 Carrera 4 Cabrio TECHART,304.0,g/km,12.0,l/100km,Automat
14,1010.0,silber mét.,Limousine,5439,Zuzwil,310 g/km,Occasion,G,12.9 l/100km,4,...,MERCEDES-BENZ,E 55 AMG,E 55 AMG Avantgarde,E 55 AMG Avantgarde,MERCEDES-BENZ E 55 AMG Avantgarde,310.0,g/km,12.9,l/100km,Automat sequentiell
15,1011.0,silber mét.,Kombi,4172,Zuzwil,350 g/km,Occasion,G,14.6 l/100km,5,...,AUDI,RS6,RS6 Avant quattro,RS6 Avant quattro,AUDI RS6 Avant quattro,350.0,g/km,14.6,l/100km,Automat sequentiell
16,1012.0,silber mét.,Coupé,5707,Zuzwil,NaN,Occasion,NaN,NaN,2,...,LAMBORGHINI,DIABLO,Diablo 5.7 VT,Diablo 5.7 VT,LAMBORGHINI Diablo 5.7 VT,NaN,NaN,NaN,NaN,Schaltgetriebe
17,1013.0,silber mét.,Cabriolet,2995,Sursee,NaN,Occasion,NaN,NaN,2,...,MERCEDES-BENZ,NaN,300SL Roadster,300SL Roadster,MERCEDES-BENZ 300SL Roadster,NaN,NaN,NaN,NaN,NaN
18,1014.0,silber mét.,Coupé,4691,Zuzwil,NaN,Occasion,NaN,NaN,2,...,ALFA ROMEO,8C,8C Coupé,Coupé,ALFA ROMEO 8C Coupé,NaN,NaN,NaN,NaN,Automat
19,1015.0,silber mét.,SUV / Geländewagen,3996,Zuzwil,288 g/km,Occasion,G,10.9 l/100km,5,...,MERCEDES-BENZ,ML 400,ML 400 CDI,ML 400 CDI,MERCEDES-BENZ ML 400 CDI,288.0,g/km,10.9,l/100km,Automat
20,1016.0,silber mét.,Limousine,1984,Zuzwil,194 g/km,Occasion,G,8.1 l/100km,5,...,VW,GOLF,Golf 2.0 TFSI GTI,Golf 2.0 TFSI GTI,VW Golf 2.0 TFSI GTI,194.0,g/km,8.1,l/100km,Schaltgetriebe
21,1017.0,silber mét.,Limousine,1968,Zuzwil,154 g/km,Occasion,E,5.8 l/100km,4,...,VW,JETTA,Jetta 2.0 TDI Comfort,Jetta 2.0 TDI Comfort,VW Jetta 2.0 TDI Comfort,154.0,g/km,5.8,l/100km,Automat
22,1018.0,silber mét.,Limousine,2497,Zuzwil,NaN,Occasion,NaN,NaN,4,...,MERCEDES-BENZ,190,190 E 2.5-16 ABS,190 E 2.5-16 ABS,MERCEDES-BENZ 190 E 2.5-16 ABS,NaN,NaN,NaN,NaN,Automat
23,1019.0,silber mét.,Coupé,4999,Zuzwil,NaN,Occasion,G,14.1 l/100km,2,...,WIESMANN,COUPE,GT MF5,GT MF5,WIESMANN GT MF5,NaN,NaN,14.1,l/100km,Automat
24,102.0,blau mét.,Cabriolet,3800,Zuzwil,270 g/km,Occasion,G,11.5 l/100km,2,...,PORSCHE,911,911 Turbo Cabrio,911 Turbo Cabrio,PORSCHE 911 Turbo Cabrio,270.0,g/km,11.5,l/100km,Automat
25,1020.0,silber mét.,Coupé,3246,Zuzwil,292 g/km,Vorführmodell,G,12.1 l/100km,2,...,BMW,Z4,Z4 M Coupé,Z4 M Coupé,BMW Z4 M Coupé,292.0,g/km,12.1,l/100km,Schaltgetriebe
26,1021.0,silber mét.,Coupé,1296,Zuzwil,NaN,Occasion,NaN,NaN,2,...,RENAULT,Alpine A110,Alpine A110 1300S,1300S,RENAULT Alpine A110 1300S,NaN,NaN,NaN,NaN,Schaltgetriebe
27,1022.0,silber mét.,Coupé,4244,Zuzwil,400 g/km,Occasion,NaN,17.5 l/100km,2,...,MASERATI,COUPÉ GT,Coupé GT,Coupé GT,MASERATI Coupé GT,400.0,g/km,17.5,l/100km,Automat
28,1023.0,silber mét.,Coupé,1605,Zuzwil,NaN,Oldtimer,NaN,NaN,2,...,RENAULT,ALPINE,ALPINE 1600 VF,1600 VF,RENAULT ALPINE 1600 VF,NaN,NaN,NaN,NaN,Schaltgetriebe
29,1024.0,silber mét.,Limousine,4172,Zuzwil,288 g/km,Occasion,G,12.0 l/100km,4,...,AUDI,A8,A8 4.2 quattro,A8 4.2 quattro,AUDI A8 4.2 quattro,288.0,g/km,12.0,l/100km,Automat sequentiell

# 2 - Data Extraction
Lets keep only the columns that contain useful information for the target format.

The useful columns are : BodyColorText, BodyTypeText, Properties, Seats, ConditionTypeText, City, MakeText, Km, ModelText, ModelTypeText

In [171]:
supplier_data_extracted = supplier_data_as_table[['ID', 'MakeText', 'Km', 'ModelText', 'ModelTypeText', 'BodyColorText', 'BodyTypeText', 'Properties', 'Seats', 'ConditionTypeText', 'City']]

In [172]:
supplier_data_extracted.head()

Attribute Names,ID,MakeText,Km,ModelText,ModelTypeText,BodyColorText,BodyTypeText,Properties,Seats,ConditionTypeText,City
0,1.0,MERCEDES-BENZ,31900,E 320,E 320 Elégance 4-Matic,anthrazit,Limousine,"""Ab MFK""",5,Occasion,Zuzwil
1,10.0,LAMBORGHINI,48000,NaN,Espada GT 400 Serie 3,anthrazit mét.,Coupé,"""Ab MFK""",4,Oldtimer,Zuzwil
2,100.0,FERRARI,42600,F360,F360 Modena Berlinetta,blau mét.,Coupé,"""Ab MFK""",2,Occasion,Zuzwil
3,1000.0,ALFA ROMEO,23900,8C,8C,silber mét.,Cabriolet,"""Ab MFK""",NaN,Occasion,Porrentruy
4,1001.0,BMW,97100,2002,2002 Turbo,silber mét.,Limousine,"""Ab MFK""",4,Occasion,Zuzwil

# 3 - Data Integration
## Mapping Definition

In [173]:
color_mapping = {
    'anthrazit': 'Gray',
    'anthrazit mét.': 'Gray',
    'beige': 'Beige',
    'beige mét.': 'Beige',
    'blau': 'Blue',
    'blau mét.': 'Blue',
    'bordeaux': 'Other',
    'bordeaux mét.': 'Other',
    'braun': 'Brown',
    'braun mét.': 'Brown',
    'gelb': 'Yellow',
    'gelb mét.': 'Yellow',
    'gold': 'Gold',
    'gold mét.': 'Gold',
    'grau': 'Gray',
    'grau mét.': 'Gray',
    'grün': 'Green',
    'grün mét.': 'Green',
    'orange': 'Orange',
    'orange mét.': 'Orange',
    'rot': 'Red',
    'rot mét.': 'Red',
    'schwarz': 'Black',
    'schwarz mét.': 'Black',
    'silber': 'Gray',
    'silber mét.': 'Gray',
    'violett mét.': 'Purple',
    'weiss': 'White',
    'weiss mét.': 'White',
    np.NaN: np.NaN}

type_mapping = {
    'Coupé' : 'Coupé',
    'Limousine' : 'Other',
    'Cabriolet' : 'Convertible / Roadster',
    'Kombi' : 'Other',
    'SUV / Geländewagen' : 'SUV',
    'Kleinwagen' : 'Other',
    'Kompaktvan / Minivan' : 'Station Wagon',
    'Pick-up' : 'Other',
    'Sattelschlepper' : 'Other',
    'Wohnkabine' : 'Other',
    np.NaN: np.NaN}

condition_mapping = {
    'Occasion': 'Used',
    'Oldtimer': 'Used',
    'Neu': 'New',
    'Vorführmodell': 'New',
    np.NaN: np.NaN}

## Rule to compute the car type
We can use serveral attributes to find out the car type as defined in the database.

Here the rule we can set :

- If the field "Properties" contains the string "Tuning" then the value of the carType is "Custom"

- Else if the field "Seats" equal to "1" then the value of the carType is "Single Seater"

- Else we use the type mapping dictionary

## Rule to compute the make
To compute the make of one car we check if it exists in the database. 
- If so we use the case used in the database
- If not we use directly the make provided by the supplier but we warn the user that this make is not an existing make of the database

## Rule to compute the model

We use the make, the model and the model variant of the database to compute the model of the cars from the json.

Indeed the models in the json are usually more precised than the models in the database. Also we need to find out at what model of the database corresponds the model of the json.

- For a model of the json : we split it by space, to get a list of unique word. Then we compute all the combination of this words
- For the model of the database we concatenate the model and the model variant, and we delete the spaces.

Then we check if one combination of the words is contained in the concatenation of the models and variants of the car of the same make :
- If so we return the model of this car.
- If not we use directly the model provided by the supplier but we warn the user that this model is not an existing model of the database

## Rule to compute the model variant

The model variant in the supplier data sometimes repeat the model at the beginning : also to avoid information duplication we remove from the variant the model when it is present at the beginning of the variant